%h1
  Zeka Kongresi Yönetim Sayfası
%center
  %a{href:"/admin/presenter"}
    Konuşmacı Başvuruları
  |
  %a{href:"/admin"}
    Katılımcılar
  |
  %a{href:"/admin/receipts"}
    Tüm Ödemeler
  |
  %a{href:"/admin/receipts?is_paid=true"}
    Onaylanmış Ödemeler
  |
  %a{href:"/admin/receipts?is_paid=false"}
    Onaylanmamış Ödemeler
  |
  %a{href:"/admin/stocks"}
    Stoklar
  |
  %a{href:"/admin/coupon"}
    Kupon Yarat