%html
  %body
    %p
      Değerli Katılımcımız,
    %p
      Aylardır heyecanla beklediğimiz IV. Zeka ve Yetenek Kongresi için gün sayıyoruz.
    %p
      Kayıtları kolaylaştırmak için bazı hatırlatmalarımız olacak.
    %p
      ODTÜ girişlerinde genel güvenlik önlemleri uygulanıyor. Kayıt saatinden en az 45 dakika önce ODTÜ giriş kapılarında olmanızı öneririz. Bu kapsamda;
    %ul
      %li
        İsminiz kapılara bildirilmiştir; kimlik kontrolü yapılacaktır.
      %li
        İhtiyaç dahilinde ve gerekli görüldüğü durumlarda araçların bagaj kontrolü ve araç altının ayna ile kontrolü yapılabilir.
    %p
      Ayrıca, kullanmak isterseniz 19 Kasım günü 08:15 ve 08:25; 20 Kasım günü 09:40 ve 09:50 saatlerinde A1 (ODTÜ Eskişehir yolu kapısı) - KKM (Kongre Salonu) arası ücretsiz ring servisi sağlanacaktır.
    %p
      = "Son olarak; Kongre kimlik kartı numaranız #{@card_number} dir. Bu numara ile kongre çantanızı alabilirsiniz."
    %p
      Kayıtlarımız Cumartesi günü 08:15'te başlıyor. Verimli bir Kongre olmasını diliyorum.
    %p
      Sevgi ve saygılarımla
    %p
      Ezgi Karaşin
      %br
      Türkiye Zeka Vakfı
      %br
      Etkinlik Koordinatörü