%html
  %body
    %p
      Değerli Katılımcımız,
    %p
      Türkiye Zeka Vakfı ve ODTÜ Eğitim Fakültesi olarak bu yıl beşincisini düzenlediğimiz Zeka ve Yetenek Kongresinde sizleri ağırlayacağımız için çok heyacanlıyız.
    %p
      Kayıtları ve kongre sürecini kolaylaştırmak için bazı hatırlatmalarımız olacak.
    %p
      ODTÜ girişlerinde kimlik kontrolü yapılmaktadır. Bu nedenle kayıt saatinden en az 45 dakika önce ODTÜ giriş kapılarında olmanızı öneririz. Ayrıca, ihtiyaç dahilinde ve gerekli görüldüğü durumlarda araçların bagaj kontrolü yapılabilir.
    %p
      Kongre için cumartesi ve pazar günleri Kızılay ve A1 kapısından servis kalkacaktır. Aynı şekilde kongre bitiminde de Kızılay ve A1 kapısına servislerimizle ulaşabilirsiniz. Servis saatlerimiz aşağıdaki tablolarda mevcuttur. Durak bilgileri web sayfamızda yer almaktadır.
    %table{border: 1}
      %tbody
        %tr
          %td Kızılay Servisi
          %td Kızılay-KKM
          %td KKM-Kızılay
        %tr
          %td Cumartesi
          %td 08:10
          %td 18:15
        %tr
          %td Pazar
          %td 10:10
          %td 17:15
    %table{border: 1}
      %tbody
        %tr
          %td A1 Servisi
          %td A1-KKM
          %td KKM-A1
        %tr
          %td Cumartesi
          %td 08:20
          %td 18:15
        %tr
          %td Pazar
          %td 10:20
          %td 17:15
    %h4
      KKM’ye dair
    %p
      Kültür Kongre Merkezinde vestiyer bulunmamaktadır. Eşyalarınızı fuaye alanında vestiyer bölümüne bırakabilmeniz elbette mümkündür fakat etkinliğimiz sorumluluk sahibi değildir.
    %p
      Kültür Kongre Merkezi imkansızlıkları sebebiyle alanda çocuk bakım odası bulunmamaktadır.
    %p
      Kültür Kongre Merkezinde mescit bulunmamaktadır. En yakın mescit ODTÜ Kütüphane’de yer almaktadır.
    %h4
      Hava Durumu
    %p
      Kongre günlerinde parçalı bulutlu bir hava öngörülmektedir. 4 Kasım Cumartesi ve 5 Kasım Pazar günü en yüksek sıcaklığın 12° olacağı tahmin ediliyor. İçerilerin sıcak, dışarıların ise soğuk olabileceğini göz önünde bulundurarak; kat kat giyinmenizi tavsiye ederiz.
    %h4
      Nerede Yemek Yemeli?
    %p
      Kongre’de öğle aralarında ODTÜ Çarşısında yer alan (yürüyerek 5 dakikalık mesafe) restoranları da tercih edebileceğiniz gibi; etkinlik sonrası güzel vakit geçirmek ya da yemek yemek için gidebileceğiniz yerler bulunuyor:
    %p
      %b Armada:
      Eskişehir yolu üzerinde bulunan Armada Hayat Sokağında birçok yeni nesil restoran var. Armada’ya ulaşmak için Eskişehir yolundan geçen toplu taşıma araçlarını kullanabilir ya da Çayyolu metrosunu  kullanarak Söğütözü durağında inebilirsiniz.
    %p
      %b Tunalı Hilmi Caddesi:
      Ankara’nın en eski ve ünlü caddelerinden olan Tunalı’da birçok cafe ve restoran yer alıyor. Kendine özgü havası olan bu yerleri görmek isteyebilirsiniz.
    %p
      %b Kentpark-Cepa:
      ODTÜ A1 kapısına 10 dakikalık yürüme mesafesinde olan AVM’ler de yemek yiyebilir, alışveriş yapabilir ya da sinemaya gidebilirsiniz.
    %p
      %b Bilkent Ankuva ve Bilkent Station:
      Birbirinden lezzetli yiyeceklerin yer aldığı cafe, restoran ve eğlence mekanları ile her kesimden insanın keyifli vakit geçireceği bir buluşma noktasıdır.
    %p
      %b Kızılay:
      Ankara’da hemen her yeri birbirine bağlayan Kızılay; her türden ihtiyaç ve tercihe cevap veriyor. İsterseniz geleneksel, isterseniz yeni nesil alternatifler bulabilirsiniz.
    %p
      Kayıtlarımız Cumartesi günü 08:15&#39;te başlıyor. Sizinle buluşacağımız için sabırsızlanıyor; verimli bir Kongre geçirmenizi diliyoruz.
    %p
      NOT: Diğer katılımcıları da göz önünde bulundurarak çanta ve eşyalarınız için yanınızdaki koltukları kullanmamanız gerektiğini şimdiden hatırlatmak isteriz.
    %p
      %a{:href => "http://kongre.tzv.org.tr/2017/wp-content/uploads/2017/10/5zekaveyetenek-kongreprogrami.pdf"} Kongre programı için tıklayınız.
    %p
      Sevgi ve saygılarımızla,
    %p
      Ezgi Karaşin
      %br
      Türkiye Zeka Vakfı
      %br
      Etkinlik Koordinatörü
