%html
  %body
    %p
      Merhabalar,
    %p
      Kongre Katılım kupon kodunuz:
      - @code
    %p
      Sevgiler, saygılar
    %p
      Ezgi Karaşin
      %br
      Türkiye Zeka Vaktı
      %br
      Etkinlik Koordinatörü