%html
  %body
    %p
      Merhabalar,
    %p
      kongre kupon kodunuz:
      - @coupon.code
    %p
      Sevgiler, saygılar
    %p
      Ezgi Karaşin
      %br
      Türkiye Zeka Vaktı
      %br
      Etkinlik Koordinatörü