%html
  %body
    %p
      Merhabalar,
    %p
      Kongre Katılım kupon kodunuz:
      %strong= @code
      dir.
      %a{:href => "http://kongre-basvuru.herokuapp.com/"} Kayıt formunda
      kullanabilirsiniz.
    %p
      Formda bu mail adresinizi kullanarak; kodun başında ve sonunda boşluk bırakmadan yazmanızı rica ederiz.
    %p
      İlginiz için teşekkür ederiz.
    %p
      Ezgi Karaşin
      %br
      Türkiye Zeka Vaktı
      %br
      Etkinlik Koordinatörü
