<section id="form" ng-controller="registerFormController">
  <div class="container">
    <!--STEP 1 Start -->
    <div class="row">
      <div class="col-xs-12">
        <h1 ng-show="applicant_type == null">KONGRE 2015 BAŞVURU FORMU</h1>
        <h1 ng-show="applicant_type == attendee">KONGRE 2015 KATILIMCI BAŞVURU FORMU</h1>
        <h1 ng-show="applicant_type == presenter">KONGRE 2015 SUNUM BAŞVURU FORMU</h1>
      </div>
    </div>
    <div ng-if="showApplicationTypeButtons" class="row margin-bottom">
      <div class="col-xs-12 col-sm-6">
        <button ng-click="applyAs(attendee)" class="btn btn-warning btn-lg btn-block">KATILIMCI Başvurusu</button>
      </div>
      <div class="col-xs-12 col-sm-6">
        <button ng-click="applyAs(presenter)" class="btn btn-danger btn-lg btn-block">SUNUM Başvurusu</button>
      </div>
    </div>
    <!-- ROW -->
    <!--STEP 1 End -->
    <!--STEP 2 Start -->
    <div ng-if="showAttendeeWarning" class="row">
      <div class="col-xs-12">
        <p class="alert alert-info text-center">
          Kongre KATILIM başvuruları <strong>Temmuz ayının son haftası</strong> açılacaktır.<br/>
          İlginiz için teşekkür ederiz.<br/>
        </p>
      </div>
    </div>

    <div ng-show="showPresenterSuccessMessage" class="row">
      <div class="col-xs-12">
        <p class="alert alert-success text-center">
          <strong style="font-size: larger">Başvurunuz için teşekkür ederiz.</strong> <br><br>
          Başvurunuz alınmış olup, danışma kurulumuz tarafından değerlendirilecektir. <br>Sonuçlar 22 Eylül 17:00'de ilan edilecektir.<br>
        </p>
      </div>
    </div>

    <div ng-hide="true" class="row">
      <div class="col-xs-12">
        <p class="alert alert-info">Formu lütfen eksiksiz olarak doldurunuz. Tüm alanları doldurmak zorunludur.</p>
      </div>
    </div>
    <!-- ROW -->
    <div ng-if="showPersonalInfoForm" class="panel panel-warning"><!--sunum basvurusu için class="panel panel-danger" -->
      <div class="panel-heading">
        <h3 class="panel-title">Kişisel Bilgilerinizi Giriniz</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="firstName">Adı</label>
              <input ng-model="form.applicant.name" type="text" class="form-control" id="firstName" placeholder="Adı">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lastName">Soyadı</label>
              <input ng-model="form.applicant.surname" type="text" class="form-control" id="lastName" placeholder="Soyadı">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="email">e-Posta Adresi</label>
              <input ng-model="form.applicant.email" type="email" class="form-control" id="email" placeholder="email@example.com">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="tckNo">T.C. Kimlik Numarası</label>
              <input ng-model="form.applicant.tckn" type="text" class="form-control" id="tckNo" placeholder="XXXXXXXXXXX">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="dofBirth">Doğum Tarihi</label>
              <input ng-model="form.applicant.birthday" type="text" class="form-control" id="dofBirth" placeholder="GG.AA.YYYY">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="telephone">Telefon Numarası</label>
              <input ng-model="form.applicant.phone" type="text" class="form-control" id="telephone" placeholder="+905xxxxxxxxx">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="company">Çalıştığı Kurum / Kuruluş</label>
              <input ng-model="form.applicant.organization" type="text" class="form-control" id="company" placeholder="Çalıştığı Kurum / Kuruluş">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="brans">Mesleğiniz / Branşınız</label>
              <input ng-model="form.applicant.occupation" type="text" class="form-control" id="brans" placeholder="Mesleğiniz / Branşınız">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="postalAddress">Posta Adresi</label>
              <textarea ng-model="form.applicant.address" class="form-control" id="postalAddress" placeholder="Posta Adresi"></textarea>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="postalAddress">Şehir Seçiniz</label>
              <select ng-model="form.applicant.city" name="sehir" id="sehir" aria-label="Şehir" aria-required="true" class="form-control">
                <option value="seciniz">Şehir Seçiniz</option>
                <option value="Adana">Adana</option>
                <option value="Adıyaman">Adıyaman</option>
                <option value="Afyonkarahisar">Afyonkarahisar</option>
                <option value="Ağrı">Ağrı</option>
                <option value="Amasya">Amasya</option>
                <option value="Ankara">Ankara</option>
                <option value="Antalya">Antalya</option>
                <option value="Artvin">Artvin</option>
                <option value="Aydın">Aydın</option>
                <option value="Balıkesir">Balıkesir</option>
                <option value="Bilecik">Bilecik</option>
                <option value="Bingöl">Bingöl</option>
                <option value="Bitlis">Bitlis</option>
                <option value="Bolu">Bolu</option>
                <option value="Burdur">Burdur</option>
                <option value="Bursa">Bursa</option>
                <option value="Çanakkale">Çanakkale</option>
                <option value="Çankırı">Çankırı</option>
                <option value="Çorum">Çorum</option>
                <option value="Denizli">Denizli</option>
                <option value="Diyarbakır">Diyarbakır</option>
                <option value="Edirne">Edirne</option>
                <option value="Elazığ">Elazığ</option>
                <option value="Erzincan">Erzincan</option>
                <option value="Erzurum">Erzurum</option>
                <option value="Eskişehir">Eskişehir</option>
                <option value="Gaziantep">Gaziantep</option>
                <option value="Giresun">Giresun</option>
                <option value="Gümüşhane">Gümüşhane</option>
                <option value="Hakkâri">Hakkâri</option>
                <option value="Hatay">Hatay</option>
                <option value="Isparta">Isparta</option>
                <option value="Mersin">Mersin</option>
                <option value="İstanbul">İstanbul</option>
                <option value="İzmir">İzmir</option>
                <option value="Kars">Kars</option>
                <option value="Kastamonu">Kastamonu</option>
                <option value="Kayseri">Kayseri</option>
                <option value="Kırklareli">Kırklareli</option>
                <option value="Kırşehir">Kırşehir</option>
                <option value="Kocaeli">Kocaeli</option>
                <option value="Konya">Konya</option>
                <option value="Kütahya">Kütahya</option>
                <option value="Malatya">Malatya</option>
                <option value="Manisa">Manisa</option>
                <option value="Kahramanmaraş">Kahramanmaraş</option>
                <option value="Mardin">Mardin</option>
                <option value="Muğla">Muğla</option>
                <option value="Muş">Muş</option>
                <option value="Nevşehir">Nevşehir</option>
                <option value="Niğde">Niğde</option>
                <option value="Ordu">Ordu</option>
                <option value="Rize">Rize</option>
                <option value="Sakarya">Sakarya</option>
                <option value="Samsun">Samsun</option>
                <option value="Siirt">Siirt</option>
                <option value="Sinop">Sinop</option>
                <option value="Sivas">Sivas</option>
                <option value="Tekirdağ">Tekirdağ</option>
                <option value="Tokat">Tokat</option>
                <option value="Trabzon">Trabzon</option>
                <option value="Tunceli">Tunceli</option>
                <option value="Şanlıurfa">Şanlıurfa</option>
                <option value="Uşak">Uşak</option>
                <option value="Van">Van</option>
                <option value="Yozgat">Yozgat</option>
                <option value="Zonguldak">Zonguldak</option>
                <option value="Aksaray">Aksaray</option>
                <option value="Bayburt">Bayburt</option>
                <option value="Karaman">Karaman</option>
                <option value="Kırıkkale">Kırıkkale</option>
                <option value="Batman">Batman</option>
                <option value="Şırnak">Şırnak</option>
                <option value="Bartın">Bartın</option>
                <option value="Ardahan">Ardahan</option>
                <option value="Iğdır">Iğdır</option>
                <option value="Yalova">Yalova</option>
                <option value="Karabük">Karabük</option>
                <option value="Kilis">Kilis</option>
                <option value="Osmaniye">Osmaniye</option>
                <option value="Düzce">Düzce</option>
                <option value="Diğer">Diğer</option>
              </select>
            </div>
          </div>
          <!-- COL 6-->
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label class="btn-block">Üstün zekalı ya da üstün yeteneklilerle olan bağınız varsa belirtiniz.</label>

              <div class="radio">
                <label>
                  <input ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="high_intelligent">
                  Üstün zekâlıyım / yetenekliyim
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="high_intelligent_relative">
                  Ailemde üstün zekâlı var
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="educator">
                  Eğitimci / Araştırmacı
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="psychologist">
                  Psikolog / Psikiyatrist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="other">
                  Diğer:
                  <input ng-model="form.relation_to_high_intelligence_other"
                         class="form-inline" placeholder="Diğer" type="text"
                         ng-focus="form.applicant.relation_to_high_intelligence = 'other'">
                </label>
              </div>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">

              <label class="btn-block">
                Önceki Zeka ve Yetenek Kongrelerine katıldınız mı?
              </label>

              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         onchange="angular.element(this).scope().setAttendance(1,this.checked)">
                  <strong>2013</strong>
                  Kongresine katıldım
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         onchange="angular.element(this).scope().setAttendance(2,this.checked)">
                  <strong>2014</strong>
                  Kongresine katıldım
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         onchange="angular.element(this).scope().setAttendance(4,this.checked)">
                  <strong>İLK</strong>
                  katılım
                </label>
              </div>

            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6 margin-top">
            <div class="form-group">
              <label class="btn-block text-danger">Lütfen Katılımcı Kategorisi Seçiniz</label>

              <div class="radio">
                <label>
                  <input ng-model="form.applicant.applicant_category" type="radio" value="instructor_student">
                  <strong>Öğretmen / Öğrenci </strong>
                  <span ng-show="applicant_type == attendee" class="label-default label">
                    100 TL
                  </span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model="form.applicant.applicant_category" type="radio" value="civillian">
                  <strong>Sivil Katılım </strong>
                <span ng-show="applicant_type == attendee" class="label-default label">
                  180 TL
                </span>
                </label>
              </div>
            </div>
          </div>
          <!-- COL 6-->
        </div>
        <!-- ROW-->
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button ng-disabled="disableSavePersonalInfo" ng-click="savePersonalInfo()" class="btn btn-warning pull-right">DEVAM ET</button>
            <!--sunum basvurusu için class="btn btn-danger pull-right" -->
          </div>
        </div>
      </div>
    </div>
    <!--panel-->
    <!--STEP 2 end -->
    <!--STEP 3 for KATILIMCI Start-->
    <script>
      var workshops24 = <%= @workshops_24.to_json.html_safe %>
      var workshops25 = <%= @workshops_25.to_json.html_safe %>
    </script>
    <div ng-if="showWorkshops" class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Katılmak İstediğiniz Atölyeleri Seçebilirsiniz</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <p class="alert alert-warning">
              Saatler arası çakışmayı önlemek amacıyla; seçtiğiniz atölyeye göre sistem
              sizi otomatik olarak seçebileceğiniz diğer atölyeleri filtreleyecektir.
            </p>
          </div>
        </div>
        <!-- ROW -->
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <div class="badge">&nbsp;1. gün&nbsp;</div>
                  &nbsp;&nbsp;24 EKİM 2015, Cumartesi
                </h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th width="120">Saat Bilgisi</th>
                      <th width="80">Salon</th>
                      <th>Adı</th>
                      <th width="150">Moderatör</th>
                      <th width="60">Ücreti</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="workshop in workshops24" class="{{workshop.class}}"
                        ng-disabled="workshop.class == 'warning' ">
                      <%= render partial: 'partials/workshop_row'%>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <div class="badge">&nbsp;2. gün&nbsp;</div>
                  &nbsp;&nbsp;25 EKİM 2015, Pazar
                </h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th width="120">Saat Bilgisi</th>
                      <th width="80">Salon</th>
                      <th>Adı</th>
                      <th width="150">Moderatör</th>
                      <th width="60">Ücreti</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="workshop in workshops25" class="{{workshop.class}}">
                      <%= render partial: 'partials/workshop_row' %>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="panel-footer">-->
        <!--<div class="row">-->
          <!--<div class="col-xs-12">-->
            <!--<button class="btn btn-warning pull-right">KAYDET ve DEVAM ET</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <!--panel-->
    <!--STEP 3 for KATILIMCI End -->
    <div ng-if="showCheckout" class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Ücretler Toplamı</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Açıklama</th>
                  <th class="text-right">Ücretler</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                  <!--<td>Üst kısımdaki ilk butondan itibaren listelenmeye başlayacak</td>-->
                  <!--<td class="text-right">-->
                    <!--<div class="label label-default"> 80 TL</div>-->
                  <!--</td>-->
                <!--</tr>-->
                <tr>
                  <td>Katılımcı</td>
                  <td class="text-right">
                    <div class="label label-default">
                      <span ng-show="form.applicant.applicant_category == 'instructor_student'">100 TL</span>
                      <span ng-show="form.applicant.applicant_category == 'civillian'">180 TL</span>
                    </div>
                  </td>
                </tr>
                <tr ng-repeat="workshop in selectedWorkshops">
                  <td>
                    {{workshop.product.name}}
                  </td>
                  <td class="text-right">
                    <div class="label label-default"> {{workshop.product.price/100}} TL</div>
                  </td>
                </tr>
                <tr class="success">
                  <th scope="row">Genel Toplam</th>
                  <td class="text-right">
                    <div class="label label-success"> {{totalAmount/100}} TL</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" ng-click="order()">ÖDEME SAYFASINA GEÇ</button>
          </div>
        </div>
      </div>
    </div>
    <!--panel-->
    <!--STEP 3 for KATILIMCI End -->
    <div ng-if="showPresentationInfoForm" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Sunulacak Çalışmaya İlişkin Bilgilerinizi Giriniz</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="sunumAmac">Çalışmanızın Amacı : </label>
              <textarea ng-model="form.presentation.purpose" rows="4" type="text" class="form-control" id="sunumAmac" placeholder="350 Karakter uzunluğunda olmalı - Boşluklu" maxlength="350"></textarea>
            </div>
          </div>
          <!-- COL 12-->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="sunumKapsam">Çalışmanızın Kapsamı : </label>
              <textarea ng-model="form.presentation.content" rows="15" type="text" class="form-control" id="sunumKapsam" placeholder="2500 Karakter uzunluğunda olmalı - Boşluklu" maxlength="2500"></textarea>
            </div>
          </div>
          <!-- COL 12-->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="sunumHedef">Çalışmanızın Hedef Kitlesi : </label>
              <textarea ng-model="form.presentation.audience" rows="4" type="text" class="form-control" id="sunumHedef" placeholder="350 Karakter uzunluğunda olmalı - Boşluklu" maxlength="350"></textarea>
            </div>
          </div>
          <!-- COL 12-->
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 col-sm-10 text-right">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                Bilgilerimin Doğruluğunu Kabul Ediyorum
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <button ng-disabled="disableSubmitPresentation" ng-click="submitPresentation()" class="btn btn-danger pull-right">
              GÖNDER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>

<!--
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Katılmak İstediğiniz Atölyeleri Seçebilirsiniz</h3>
  </div>
  <div class="panel-body">

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-warning pull-right">KAYDET ve DEVAM ET</button>
      </div>
    </div>
  </div>
</div>-->
