<section id="form" ng-controller="registerFormController">
  <div ng-show="ticketsOver" class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
            Biletlerimiz tükendi!
        </p>
      </div>
    </div>
  </div>

  <div ng-hide="ticketsOver" class="container">
    <!--STEP 1 Start -->
    <div class="row">
      <div class="col-xs-12">
        <h1 ng-show="applicant_type == null">KONGRE {{currentYear}} BAŞVURU FORMU</h1>

        <h1 ng-show="applicant_type == attendee">KONGRE {{currentYear}} KATILIMCI BAŞVURU FORMU</h1>

        <h1 ng-show="applicant_type == presenter">KONGRE {{currentYear}} SUNUM BAŞVURU FORMU</h1>
      </div>
    </div>
    <div ng-if="showApplicationTypeButtons" class="row margin-bottom">
      <div class="col-xs-12 col-sm-6">
        <button ng-click="applyAs(attendee)" class="btn btn-warning btn-lg btn-block">KATILIMCI Başvurusu</button>
      </div>
      <div class="col-xs-12 col-sm-6">
        <button ng-click="applyAs(presenter)" class="btn btn-danger btn-lg btn-block">SUNUM Başvurusu</button>
      </div>
    </div>
    <!-- ROW -->
    <!--STEP 1 End -->
    <!--STEP 2 Start -->
    <div ng-if="showAttendeeWarning" class="row">
      <div class="col-xs-12">
        <p class="alert alert-info text-center">
          Kongre KATILIM başvuruları <strong>Temmuz ayının son haftası</strong> açılacaktır.<br/>
          İlginiz için teşekkür ederiz.<br/>
        </p>
      </div>
    </div>

    <div ng-show="showPresenterSuccessMessage" class="row">
      <div class="col-xs-12">
        <p class="alert alert-success text-center">
          <strong style="font-size: larger">Başvurunuz için teşekkür ederiz.</strong> <br><br>
          Başvurunuz alınmış olup, danışma kurulumuz tarafından değerlendirilecektir. <br>Sonuçlar 22 Eylül 17:00'de
          ilan edilecektir.<br>
        </p>
      </div>
    </div>

    <div ng-hide="true" class="row">
      <div class="col-xs-12">
        <p class="alert alert-info">Formu lütfen eksiksiz olarak doldurunuz. Tüm alanları doldurmak zorunludur.</p>
      </div>
    </div>
    <!-- ROW -->
    <form ng-if="showPersonalInfoForm" class="panel panel-warning" name="personalInfoForm" ng-submit="savePersonalInfo()"><!--sunum basvurusu için class="panel panel-danger" -->
      <div class="panel-heading">
        <h3 class="panel-title">Kişisel bilgilerinizi giriniz. </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.firstName.$dirty && personalInfoForm.firstName.$invalid}">
              <label for="firstName">Adı</label>
              <input name='firstName' type="text" class="form-control" id="firstName" placeholder="Adı" required
                     ng-model="form.applicant.name">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.lastName.$dirty && personalInfoForm.lastName.$invalid}">
              <label for="lastName">Soyadı</label>
              <input name="lastName" ng-model="form.applicant.surname" type="text" class="form-control" id="lastName" placeholder="Soyadı" required>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.email.$dirty && personalInfoForm.email.$invalid}">
              <label for="email">e-Posta Adresi</label>
              <input name="email" ng-model="form.applicant.email" type="email" class="form-control" id="email" placeholder="email@example.com" required>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.tckNo.$dirty && personalInfoForm.tckNo.$invalid}">
              <label for="tckNo">T.C. Kimlik Numarası</label>
              <input name="tckNo" type="text" class="form-control" id="tckNo" placeholder="XXXXXXXXXXX"
                     ng-model="form.applicant.tckn" ng-pattern="/^[0-9]{11,11}$/" maxlength="11" required>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.dofBirth.$dirty && personalInfoForm.dofBirth.$invalid}">
              <label for="dofBirth">Doğum Tarihi</label>
              <input name="dofBirth" type="text" class="form-control" id="dofBirth" placeholder="GG.AA.YYYY"
                     ng-model="form.applicant.birthday" ng-pattern="/\d{2}.\d{2}.\d{4}/" maxlength="10" required>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.phone.$dirty && personalInfoForm.phone.$invalid}">
              <label for="telephone">Telefon Numarası</label>
              <input name="phone" type="text" class="form-control" id="telephone" placeholder="+90 5xx xxx xx xx"
                     ng-model="form.applicant.phone" phone-number country-code="tr">
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.organization.$dirty && personalInfoForm.organization.$invalid}">
              <label for="company">Çalıştığı Kurum / Kuruluş</label>
              <input name="organization" type="text" class="form-control" id="company" placeholder="Çalıştığı Kurum / Kuruluş"
                     ng-model="form.applicant.organization" required>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.occupation.$dirty && personalInfoForm.occupation.$invalid}">
              <label for="brans">Mesleğiniz / Branşınız</label>
              <input name="occupation" type="text" class="form-control" id="brans" placeholder="Mesleğiniz / Branşınız"
                     ng-model="form.applicant.occupation" required>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.postalAddress.$dirty && personalInfoForm.postalAddress.$invalid}">
              <label for="postalAddress">Posta Adresi</label>
              <textarea name="postalAddress" class="form-control" id="postalAddress" placeholder="Posta Adresi"
                        ng-model="form.applicant.address" required></textarea>
            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.sehir.$dirty && personalInfoForm.sehir.$invalid}">
              <label for="postalAddress">Şehir Seçiniz</label>
              <select
              ng-model="form.applicant.city" ng-options="city.value as city.name for city in cities"
              name="sehir" id="sehir" aria-label="Şehir" aria-required="true" class="form-control" required>
                <option value="">Şehir Seçiniz</option>

              </select>
            </div>
          </div>
          <!-- COL 6-->
        </div>
        <!-- ROW-->

        <div class="row">
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.relation_to_high_intelligence.$dirty && personalInfoForm.relation_to_high_intelligence.$invalid}">
              <label class="btn-block">Üstün zekalı ya da üstün yeteneklilerle olan bağınız varsa belirtiniz.</label>

              <div class="radio">
                <label>
                  <input name="relation_to_high_intelligence" ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="high_intelligent" required>
                  Üstün zekâlıyım / yetenekliyim
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="relation_to_high_intelligence" ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="high_intelligent_relative" required>
                  Ailemde üstün zekâlı var
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="relation_to_high_intelligence" ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="educator" required>
                  Eğitimci / Araştırmacı
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="relation_to_high_intelligence" ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="psychologist" required>
                  Psikolog / Psikiyatrist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="relation_to_high_intelligence" ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="none" required>
                  Yok
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="relation_to_high_intelligence" ng-model="form.applicant.relation_to_high_intelligence" type="radio" name="relations" value="other" required>
                  Diğer:
                  <input name="relation_to_high_intelligence" ng-model="form.relation_to_high_intelligence_other"
                         class="form-inline" placeholder="Diğer" type="text"
                         ng-focus="form.applicant.relation_to_high_intelligence = 'other'">
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="form-group" ng-class="{'has-error':form.applicant.previous_attendances==0}">

              <label class="btn-block">
                Önceki Zeka ve Yetenek Kongrelerine katıldınız mı?
              </label>

              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-change="setAttendance('attendance2013', attendances.attendance2013)"
                         ng-model="attendances.attendance2013">
                  <strong>2013</strong>
                  Kongresine katıldım
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-change="setAttendance('attendance2014',attendances.attendance2014)"
                         ng-model="attendances.attendance2014">
                  <strong>2014</strong>
                  Kongresine katıldım
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-change="setAttendance('attendance2015',attendances.attendance2015)"
                         ng-model="attendances.attendance2015">
                  <strong>2015</strong>
                  Kongresine katıldım
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-change="setAttendance('attendance2016',attendances.attendance2016)"
                         ng-model="attendances.attendance2016">
                  <strong>2016</strong>
                  Kongresine katıldım
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-change="setAttendance('attendance2017',attendances.attendance2017)"
                         ng-model="attendances.attendance2017">
                  <strong>2017</strong>
                  Kongresine katıldım
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-change="setAttendance('attendance2018',attendances.attendance2018)"
                         ng-model="attendances.attendance2018">
                  <strong>2018</strong>
                  Kongresine katıldım
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input name="attendances" type="checkbox"
                         ng-change="setAttendance('attendanceFirst',attendances.attendanceFirst)"
                         ng-model="attendances.attendanceFirst">
                  <strong>İLK</strong>
                  katılım
                </label>
              </div>

            </div>
          </div>
          <!-- COL 6-->
          <div class="col-xs-12 col-sm-6 margin-top">
            <div class="form-group" ng-class="{'has-error':personalInfoForm.applicant_category.$dirty && personalInfoForm.applicant_category.$invalid}">
              <label class="btn-block text-danger">Lütfen Katılımcı Kategorisi Seçiniz</label>

              <!--<div class="radio">-->
                <!--<label>-->
                  <!--<input name="applicant_category" ng-model="form.applicant.applicant_category" type="radio" value="instructor_student" required>-->
                  <!--<strong>Öğretmen / Öğrenci </strong>-->
                  <!--<span ng-show="applicant_type == attendee" class="label-default label">-->
                    <!--100 TL-->
                  <!--</span>-->
                <!--</label>-->
              <!--</div>-->

              <div class="radio">
                <label>
                  <input name="applicant_category" ng-model="form.applicant.applicant_category" type="radio" value="civillian" required>
                  <strong>Katılım </strong>
                  <span ng-show="applicant_type == attendee" class="label-default label">
                  195 TL
                </span>
                </label>
              </div>
              <!--<div class="radio">-->
              <!--<label>-->
              <!--<input name="applicant_category" ng-model="form.applicant.applicant_category" type="radio" value="child" required>-->
              <!--<strong>Çocuk </strong>-->
              <!--<span ng-show="applicant_type == attendee" class="label-default label">-->
              <!--Çocuk katılımcılar sadece atölyelere kayıt yaptırabilirler-->
              <!--</span>-->
              <!--</label>-->
              <!--</div>-->

            </div>
          </div>
        </div>

      </div>

      <!-- COL 6-->
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button type="submit"
                    ng-disabled="personalInfoState==actionState.onAction"
                    class="btn btn-warning pull-right">
              <i class="fa fa-cog fa-spin" ng-show="personalInfoState==actionState.onAction"></i> DEVAM ET
            </button>
            <!--sunum basvurusu için class="btn btn-danger pull-right" -->
          </div>
        </div>
      </div>
    </form>
    <!--panel-->
    <!--STEP 2 end -->
    <!--STEP 3 for KATILIMCI Start-->



    <!--ws Start-->

    <script>
        var workshops24 = <%= @workshops_24.to_json.html_safe %>
        var workshops25 = <%= @workshops_25.to_json.html_safe %>
    </script>
    <div ng-show="showWorkshops" id='workshopsPanel' class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Katılmak İstediğiniz Atölyeleri Seçebilirsiniz</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <p class="alert alert-warning">
              Saatler arası çakışmayı önlemek amacıyla; seçtiğiniz atölyeye göre sistem
              otomatik olarak seçebileceğiniz diğer atölyeleri filtreleyecektir.
            </p>
          </div>
        </div>
        <!-- ROW -->
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <div class="badge">&nbsp;1. gün&nbsp;</div>
                  &nbsp;&nbsp;4 EKİM 2019, Cuma
                </h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th width="120">Saat Bilgisi</th>
                      <th width="80">Salon</th>
                      <th>Adı</th>
                      <th width="150">Moderatör</th>
                      <th width="60">Kalan Başvuru</th>
                      <th width="60">Ücreti</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="workshop in workshops24" class="{{workshop.className}}"
                        ng-show="form.applicant.applicant_category=='child'?workshop.for_children:true && workshop.product.stock > 0">
                      <%= render partial: 'partials/workshop_row' %>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <div class="badge">&nbsp;2. gün&nbsp;</div>
                  &nbsp;&nbsp;5 EKİM 2019, Cumartesi
                </h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th width="120">Saat Bilgisi</th>
                      <th width="80">Salon</th>
                      <th>Adı</th>
                      <th width="150">Moderatör</th>
                      <th width="60">Kalan Başvuru</th>
                      <th width="60">Ücreti</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="workshop in workshops25" class="{{workshop.className}}"
                      ng-show="form.applicant.applicant_category=='child'?workshop.for_children:true && workshop.product.stock > 0">
                      <%= render partial: 'partials/workshop_row' %>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="panel-footer">-->
      <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
      <!--<button class="btn btn-warning pull-right">KAYDET ve DEVAM ET</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>

    <!--ws End-->


    <!--panel-->
    <!--STEP 3 for KATILIMCI End -->
    <div ng-if="showCheckout" class="panel panel-success" id="checkoutPanel">
      <div class="panel-heading">
        <h3 class="panel-title">Ücretler Toplamı</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Açıklama</th>
                  <th class="text-right">Ücretler</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                <!--<td>Üst kısımdaki ilk butondan itibaren listelenmeye başlayacak</td>-->
                <!--<td class="text-right">-->
                <!--<div class="label label-default"> 80 TL</div>-->
                <!--</td>-->
                <!--</tr>-->
                <tr ng-show="form.applicant.applicant_category != 'child'">
                  <td>Katılımcı</td>
                  <td class="text-right">
                    <div class="label label-default">
                      <span ng-show="form.applicant.applicant_category == 'instructor_student'">100 TL</span>
                      <span ng-show="form.applicant.applicant_category == 'civillian'">130 TL</span>
                    </div>
                  </td>
                </tr>
                <tr ng-repeat="workshop in selectedWorkshops" ng-show="form.applicant.applicant_category=='child'?workshop.for_children:true">
                  <td>
                    {{workshop.product.name}}
                  </td>
                  <td class="text-right">
                    <div class="label label-default"> {{workshop.product.price/100}} TL</div>
                  </td>
                </tr>
                <tr class="danger" ng-show="discount!=0">
                  <th scope="row">Kupon İndirimi</th>
                  <td class="text-right">
                    <div class="label label-danger"> {{discount/100}} TL</div>
                  </td>
                </tr>
                <tr class="success">
                  <th scope="row">Genel Toplam</th>
                  <td class="text-right">
                    <div class="label label-success"> {{totalAmount/100}} TL</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="row">
          <!--<div class="col-xs-2">-->
          <!-- -->
          <!--</div>-->
          <div class="col-xs-12">
            <button class="btn btn-success pull-right"
                    ng-click="order()"
                    ng-hide="orderState==actionState.onAction || orderState==actionState.invalid">
              <i class="fa fa-cog fa-spin" ng-show="orderState==actionState.onAction"></i> ÖDEME SAYFASINA GEÇ
            </button>
            <button class="btn btn-success pull-right"
                    ng-click="freeOrder()"
                    ng-show="orderState==actionState.invalid">
              <i class="fa fa-cog fa-spin" ng-show="orderState==actionState.onAction"></i> BAŞVURUYU TAMAMLA
            </button>
            <div class="col-xs-2 pull-left">
              <input class="form-control" id="coupon-text" type="text" placeholder="Kupon Kodu" ng-model="form.couponCode">
            </div>
            <div class="col-xs-2 pull-left">
              <button class="btn btn-success"
                      ng-click="couponCheck()"
                      ng-disabled="orderState==actionState.onAction || orderState==actionState.invalid">
                <i class="fa fa-cog fa-spin" ng-show="orderState==actionState.onAction"></i> Kuponu Uygula
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--panel-->
    <!--STEP 3 for KATILIMCI End -->
    <div id="presentationInfoForm" ng-show="showPresentationInfoForm" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Sunulacak Çalışmaya İlişkin Bilgilerinizi Giriniz</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="sunumAmac">Çalışmanızın Amacı : </label>
              <textarea ng-model="form.presentation.purpose" rows="4" type="text" class="form-control" id="sunumAmac" placeholder="350 Karakter uzunluğunda olmalı - Boşluklu" maxlength="350"></textarea>
            </div>
          </div>
          <!-- COL 12-->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="sunumKapsam">Çalışmanızın Kapsamı : </label>
              <textarea ng-model="form.presentation.content" rows="15" type="text" class="form-control" id="sunumKapsam" placeholder="2500 Karakter uzunluğunda olmalı - Boşluklu" maxlength="2500"></textarea>
            </div>
          </div>
          <!-- COL 12-->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="sunumHedef">Çalışmanızın Hedef Kitlesi : </label>
              <textarea ng-model="form.presentation.audience" rows="4" type="text" class="form-control" id="sunumHedef" placeholder="350 Karakter uzunluğunda olmalı - Boşluklu" maxlength="350"></textarea>
            </div>
          </div>
          <!-- COL 12-->
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 col-sm-10 text-right">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                Bilgilerimin Doğruluğunu Kabul Ediyorum
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <button ng-disabled="disableSubmitPresentation" ng-click="submitPresentation()" class="btn btn-danger pull-right">
              <i class="fa fa-cog fa-spin" ng-show="disableSubmitPresentation"></i> GÖNDER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<!--
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Katılmak İstediğiniz Atölyeleri Seçebilirsiniz</h3>
  </div>
  <div class="panel-body">

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-warning pull-right">KAYDET ve DEVAM ET</button>
      </div>
    </div>
  </div>
</div>-->
